{# templates/_base.html #}
{% load static django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Django HTMx playground{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {# Load CSS #}
        {% bootstrap_css %}
        <link rel="stylesheet" type='text/css' href="{% static 'tables/css/style.css' %}">

        {# Load JS #}
        {% bootstrap_javascript %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
        <script src="//unpkg.com/alpinejs" defer></script>

        {% block header %}
        {% endblock header %}

    </head>

    {% block body %}
    <body>

        <div id="wrapper">
            <div class="container">
            </div>

            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
                        <a href="" class="navbar-brand">Django HTMx PlayGround</a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% block tables %}{% endblock %}" aria-current="Tables" href="{% url 'tables:products' %}">Tables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block alpine %}{% endblock %}" aria-current="Alpine" href="{% url 'alpine:home' %}">Alpine</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block realworld %}{% endblock %}" aria-current="RealWorld" href="{% url 'realworld:articleshome' %}">Conduit</a>
                            </li>
                        </ul>
                </nav>
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>
    {% endblock body %}

</html>
